<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    
    <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">
    
    {% include head_nav.html %}
  
    {% if site.search_enabled != false %}
      <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
    {% endif %}
  
    <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    {% include_cached favicon.html %}

    {% include head_custom.html %}
  
    {% seo %}
  
  </head>