<h2 class="fs-4" id="{{ page.title | slugify }}">
    {%- if page.title -%}
    <strong class="label label-green">{{ page.title }}</strong>
    {%- endif -%}
    {{ page.topic }}
  </h2>
  <div class="assignment">
    <div class="row-container">
        {%- if page.pdf -%}
        <div class="col-container">
            <a href="{{ page.pdf }}" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-filetype-pdf"></i>
            </a>
            <span>PDF</span>
        </div>
        {%- endif -%}
        {%- if page.zip -%}
        <div class="col-container">
            <a href="{{ page.zip }}" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-file-earmark-zip"></i>
            </a>
            <span>Notebooks</span>
        </div>
        {%- endif -%}
    </div>
  </div>